* {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}
th, td {
    text-align: left;
    padding: 8px;
    border-collapse: collapse;
    border: 2px solid black;
}

tr:nth-child(even) {
    background-color: aquamarine;
}


